.ajoutBouteille {
    padding: 5px 8px;
    background-color: #E491A6;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}


.ajoutBouteille:hover {
    background-color: #96384F;  
    color: white;
}