@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

:root{
  --couleur-accent: #96384F;
  --couleur-text: #450C1B;
  --couleur-form: #450c1b3e;
  --couleur-fond: #f8f3f3;
  --couleur-secondaire: #BF7A8C;
  --rouge_lecture: #3c111b;
  --rose_vino: #945f6c;
}
body{
  background-color: var(--couleur-fond);
}
p, span, a, button, select, option, input .bouton-vin {
  
  font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: Merriweather;
}

/* Code pour enleve les spiners (flèches) des input number */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;    
  width: 0 !important; 
}

input {
  -moz-appearance: textfield;
}

/* Code pour centrer les placeholder */

input[type="number"] {
  text-align: center !important;
}

