/* 
CSS de base - Je ne voulais pas modifier App.css. Si jamais les nom changent, vérifier le fichier frontend\src\components\Filtre.jsx.
Aucun autre fichier ne devrait avoir ces variables :root suivantes.  
*/

.cinzel-decorative-regular {
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-style: normal;
}

.cinzel-decorative-bold {
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* mon CSS */

.formulaire_de_filtre {
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.custom-select , .custom-select .option {
    color: var(--rouge_lecture);
    background-color: white;
}

.custom-select {
    border: 2px solid var(--rouge_lecture);
    border-radius: 15px;
    padding: 8px 17px;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    min-width: 255px;
    margin-left: 0px;
}

.custom-select .options {
    border-top: 2px solid var(--rouge_lecture);
    list-style: none;
    margin: 2px 0 0 0; padding: 0; 
    position: absolute; 
    top: 100%; 
    left: 0; 
    width: 100%; 
    overflow: hidden;
    z-index: 10; 
    transition: background-color 0.2s, color 0.2s;
}

.custom-select .option {
    border: 2px solid var(--rouge_lecture);
    border-radius: 0;
    border-top: 0px;
    margin-left:0px;
    padding: 12px 17px;
    cursor: pointer;
    transition-duration: 0.2s;
}

.custom-select .option:hover {
    background-color: var(--rose_vino);
    color: var(--rouge_lecture);
}

.custom-select.open {
    border-radius: 15px 15px 0px 0px;
}

.pagesuivante, .pagerourante {
    color: var(--rouge_lecture);
    font-size: 1.125rem;
    padding: 1rem;
}
.pagerourante {
    text-decoration: underline;
    font-size: 1.3rem;
    cursor: default;
}
.pagesuivante:hover {
    cursor:pointer;
    text-decoration: underline;
}

.navigationCatalogue {
    display: flex;
    flex-direction: row;
    align-items: center; justify-content: center; 
}

.filter-container {
    max-height: 0; 
    overflow: hidden;
    transition: max-height 0.3s ease-out; 
}

.filter-container.open {
    max-height: 100%; 
}

.contenuPreview {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: auto;
}

.previewRecherche {
    color: var(--rouge_lecture);
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-between;
    border-top: 1px solid #945f6c3b;
}

.previewAnne {
    text-align:end;
    height: auto;
    flex-direction: row;
    color: var(--rose_vino);
    opacity: 0.5;
}

.titre {
    color: #b5121b;
    display: flex;
    padding: 10px 0 0 15px;
}

.v-titre {
    height: 70px; width: auto;
    position: absolute;
    top: 8px;
    left: 4px;
}