.bouton-vin {
    background-color: #450C1B;   
}

.bouton-vin:hover {  
    background-color: #96384F;
}


.bouton-vin-rosee {
    background-color: #96384F;
    color: white;
}

.bouton-vin-rosee:hover {
    background-color: #E491A6;
    color: #450C1B;
}

.bouton-rosee {  
    background-color: #E491A6;
}

.bouton-rosee:hover {  
    background-color: #96384F;
    color: white;
}

.bouton {
    @apply text-white px-4 py-2 rounded cursor-pointer;
}

.boutons-div {
    margin-bottom: 50px;
}

/* bouton formulaire inscription et connexion*/
.bouton-accent{
    background-color:var(--couleur-accent);
    @apply rounded-lg text-white p-2 mt-5 text-xl cursor-pointer  
}

.bouton-accent:hover{
    background-color: var(--couleur-text)
}

/* bouton supprimer et annuler*/
.bouton-danger{
    @apply bg-white border-2 border-red-900 p-1 rounded-lg cursor-pointer text-red-900 hover:bg-red-900 hover:text-white
}

/* bouton pour éditer*/
.bouton-edit{
    @apply bg-lime-700 p-1 rounded-lg cursor-pointer text-white hover:bg-lime-800 hover:text-white
}