.grille {
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
}


.grilleBouteille {    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 50px
}


.grilleBouton {   
    background-color: #E491A6;
    color: #450C1B;
}
