.grille {
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
}


.grilleBouteille {
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
}


@media (min-width:800px)  {
    .grille {
        
    }
}
