/* Animation points téléchargement */

.points {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 6px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.points span {
  width: 20px;
  height: 20px;
  background: var(--couleur-accent);
  border-radius: 50%;
  animation: bounce 0.6s infinite alternate;
}

.points span:nth-child(2) {
  animation-delay: 0.2s;
}
.points span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  from { transform: translateY(0); opacity: 0.4; }
  to { transform: translateY(-10px); opacity: 1; }
}

/* Animation modale */

@keyframes fadeInModale {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-modale {
    animation: fadeInModale 0.35s ease-out;
}