@import './assets/css/principal/principal';
@import './assets/css/grille/grille';
@import './assets/css/carte/carte';
@import './assets/css/image/image';
@import './assets/css/contenu/contenu';
@import './assets/css/fiche/fiche';
@import './assets/css/bouton/bouton';
@import './assets/css/ajout/ajout';
@import './assets/css/filtre/filtre.css';
@import './assets/css/text/text';
@import './assets/css/bg/bg';
@import "tailwindcss";





