.carteBouteille {
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.carteBouteille:hover {
    transform: translateY(-4px);
    box-shadow: 0 15px 25px rgba(0,0,0,0.15);
}

.carteContenu {
        padding: 20px;
    }

.carteContenu h2 {
    font-size: 1rem;
    font-weight: 400;
    color: #2c3e50;
}

.carteContenu p {
    margin: 6px 0;
    font-size: 0.95rem;
    color: #555;
}

.carteContenu p.price {
    color: #880844ff;;
    font-weight: bold;
    font-size: 1.1rem;
}

.carteFicheBouteille {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 50px;
    justify-content: start;
    align-items: start;
    padding: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);    
}


.carteColonne {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

@media (min-width:800px)  {
    .carteFicheBouteille {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
}