.imageBouteille {
    max-width: 100%;
    height: 250px;
    object-fit: contain;
    display: block;
    margin: 5px auto 0px auto;
}

@media (min-width:800px)  {
    .imageBouteille {
        max-width: 100%;
        height: 250px;
        object-fit: contain;
        display: block;
        margin: 5px auto 0px auto;
    }
}


